---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [

{
    date: "jun. 2024 - oct. 2024 ·  5 meses",
    title: "Desarrollador full stack",
    company: "Freelancer · Autónomo",
    description:
      "<p>Servicios en desarrollo web, desde la creación de páginas web completas optimizadas para brindar una experiencia de usuario fluida y atractiva, hasta el diseño de secciones específicas para mejorar y personalizar tu web actual. También me especializo en la solución de problemas web, diagnostico y reparo errores para asegurar un rendimiento óptimo. Además, integracion de pasarelas de pago seguras, como PayPal y tarjetas de crédito/débito.  </p>",
      
  },


  {
    date: "Abr. 2024 - jun. 2024 · 3 meses",
    title: "Desarrollador de Front-End",
    company: "iUrban",
    description:
      "<p>Trabajé en varios proyectos utilizando <img src='/logos/angular.jpg' alt='angular' class='inline-block w-13 h-11' /> para la creación de interfaces responsivas.</p>",
  },
  {
    date: "Mar. 2022 - jun. 2022 · 4 meses",
    title: "Técnico Informático HelpDesk",
    company: "OPPLUS",
    description: "Prestaba soporte tecnico para la parte interna de la empresa , tanto en remoto como en presencial",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
