---
const personalImageAlt = "Adrian"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/adrian.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/adrian-campayo-martin/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Adrian
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Recien titulado. <strong
      >Desarrollador de aplicaciones web</strong
    > de Malaga, España 🇪🇸. Especializado en el desarrollo de aplicaciones web
    respaldados con varios proyectos.
  </p>

<br>

<div class="flex flex-wrap gap-2">
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
        <img src="/logos/html.png" alt="HTML" class="w-10 h-10" />
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
        <img src="/logos/css.png" alt="CSS" class="w-10 h-10" />
    </a>
    <a href="https://sass-lang.com/" target="_blank">
        <img src="/logos/scss.png" alt="SCSS" class="w-10 h-10" />
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
        <img src="/logos/javascript.png" alt="JavaScript" class="w-10 h-10" />
    </a>
    <a href="https://www.php.net/" target="_blank">
        <img src="/logos/php.png" alt="PHP" class="w-10 h-10" />
    </a>
    <a href="https://angular.io/" target="_blank">
        <img src="/logos/angular.jpg" alt="Angular" class="w-14 h-14" />
    </a>
    <a href="https://getbootstrap.com/" target="_blank">
        <img src="/logos/bootstrap.png" alt="Bootstrap" class="w-10 h-10" />
    </a>
    <a href="https://www.mysql.com/" target="_blank">
        <img src="/logos/mysql.png" alt="MySQL" class="w-10 h-10" />
    </a>
    <a href="https://www.mongodb.com/" target="_blank">
        <img src="/logos/mongodb.png" alt="MongoDB" class="w-10 h-10" />
    </a>
</div>



  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:adriancampayo@hotmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/adrian-campayo-martin/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
